/* #4E8192
3D636C */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-color: #3d636c;
}

header:hover {
    background-color: #4e8192;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo {
    height: 40px;
    width: 40px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

main {
    background-image: url('/bg');
    background-position: 'center';
    background-size: cover;
    min-height: 100vh;
    padding: 3em;
}

@media (max-width:700px) {
    main {
        padding: 1em;
    }
}

.intro {
    background: rgba(0, 0, 0, .8);
    border-radius: 1rem;
    color: white;
    padding: 1em;
    max-width: 100%;
    width: 800px;
    margin-left: 0;
}


.intro h2 {
    margin: 1em 0;
}

p+p {
    margin-top: 2em;
}